.scrolling-bg {
    position: relative;
    isolation: isolate;

    background-color: #f5f5f4;
}

.scrolling-bg::before {
    content: '';

    position: absolute;
    inset: 0;

    background-image: url('../../../../../public/imgs/bgs/category.png');
    background-size: 32px 32px;
    background-repeat: repeat;

    opacity: 0.58;

    animation: scrollBackground 30s linear infinite;

    pointer-events: none;
    z-index: -1;
}

@keyframes scrollBackground {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: -512px 512px;
    }
}